snippet template
<template${1: lang="${2:pug}"}>

${VISUAL}${0}

</template>
endsnippet

snippet script
<script>

${VISUAL}${0}

</script>
endsnippet

snippet style
<style${1: lang="${2:stylus}"} scoped>

${VISUAL}${0}

</style>
endsnippet
