snippet template
<template lang="pug">

${VISUAL}${0}

</template>
endsnippet

snippet script
<script>

${VISUAL}${0}

</script>
endsnippet

snippet style
<style lang="stylus" scoped>

${VISUAL}${0}

</style>
endsnippet
